	<header>Get It Done!</header>

    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8"  style="margin:auto; text-align: center;">
                <p style="margin-top: 10px;">Enter a task that you would like to complete and click the submit button.</p>
                <form class="search create-form" style="margin:auto; ">
                    <textarea class="form-control" id="textarea" rows="3" placeholder="Enter a task ..." style="margin-top: 10px;" ></textarea>
                    <button type="submit" class="btn btn-info" style="margin-top: 10px;">Submit</button>
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>

        <div class="row" > 
            <div class="col-lg-5">
                <div class="card text-center" style="margin-top: 20px;">
                    <div class="card-header">
                        To-Do List
                    </div>

                    <table class="table table-sm card-body d-flex justify-content-center" style="margin-top: 5px;">
                        {{#each tasks}}
                            {{#unless done}}
                                <button class="change-done" data-id="{{id}}" data-newdone="{{done}}" >
	                                {{id}}. {{task_name}} 
                                </button>
                            {{/unless}}
                        {{/each}}

                    </table>

                </div>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-5">
                <div class="card text-center"  style="margin-top: 20px;">
                    <div class="card-header">
                        Completed Tasks
                    </div>
                    <table class="table table-sm card-body d-flex justify-content-center" style="margin-top: 5px;">
                        {{#each tasks}}
                            {{#if done}}
                                <p class="change-done" data-id="{{id}}" data-newdone="{{done}}" >
	                                {{id}}. {{task_name}} 
                                </p>
                            {{/if}}
                        {{/each}}
                    </table>
                </div>
            </div>            
        </div>    
    </div>

    </div>
